.nav a {
    color:currentColor;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    position: absolute;
}

.nav{
    width:auto;
    height: auto;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 7px;
}


.nav li{
    display: inline;
    
}

.nav img{
    text-align: left;
    height: auto;
    display: inline;
}


.jumbotron{
    height: 500px;
    background-image:url(mayfield-git.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.jumbotron .container h1{
   color:white;
    font-family:  'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: normal;
    padding-top: 50px;
    text-align: center;
    
    
}

.jumbotron h2{
     color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    
}

.jumbotron .container{
    text-align: center;
    
}

legend{
    text-align: center;
}

.form-horizontal{
    background-color: lightgrey;
}

.form1{
    float: left;
}

.form2{
    float: left;
}

.form3{
    float: left;
}

.small-contact{
    height: 20px;
    text-align: center;
    bottom: auto;
    padding-top: 50px;
    
}

.small-contact p{
    display: inline;
}

.small-contact i{
    padding-left: 10px;
}

.control-group{
    text-align: left;
    padding-left: 100px;
       
}
