.nav a {
    color:rgb(200,0,0);
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}


.nav li{
    display: inline;
}


.jumbotron{
    height: 500px;
    background-image:url(csb.jpg);
    background-repeat: no-repeat;
}

.jumbotron h1{
    color:white;
    font-size: 48px;
    font-weight: bold;
    
}

