.nav a {
    color:white;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav{
    width:auto;
    height: auto;
    background-color: currentColor;
}


.nav li{
    display: inline;
}


.jumbotron{
    height: 630px;
    background-image:url(csb.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron .container h1{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 56px;
    font-weight: lighter;
    text-align: center;
    
}

.jumbotron p{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    
}

.calendar iframe{
    align-content: center;
}

.learn-more h3{
    display: inline;
}

.learn-more{
    background-color: white;   
}

