.nav a {
    color:rgb(200,0,0);
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav{
    width:auto;
    height: auto;
    background-color: #9D9DB9;
}


.nav li{
    display: inline;
}


.jumbotron{
    height: 500px;
    background-image:url(csb.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron h1{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    
}

.jumbotron p{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    
}
